/* Файл styles/styles.css */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  margin: 0;
  background-color: #F2F2F2;
}

.page-container {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Header */
.header {
  display: flex;
  align-items: stretch;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  min-height: 64px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 0;
  top: 0;
}


.header a,
.header .navigation,
.header .navigation-item,
.header .navigation-item-active,
.header .user-navigation-button {
  display: inline-block;
}

.header .navigation-link {
  color: black;
  text-decoration: none;
}

.header nav {
  padding-left: 160px;
  max-height: 64px;
}

.header ul {
  margin: 0;
}

.navigation-item-button {
  display: inline-block;
  width: 160px;
  height: 64px;
  position: absolute;
}

.navigation-item-button a {
  width: 160px;
  height: 36px;
  background-color: #756157;
  border-radius: 4px;
  color: white;
  font-family: 'PT Sans';
  position: relative;
  top: 12px;
  left: 12px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  margin: 0;
  text-decoration: none;
}

.navigation a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: 'PT Sans';
  padding: 20px 10px;
}

.user-navigation {
  display: inline-block;
  width: 268px;
}

.user-navigation-item {
  display: inline-block;
  height: 64px;
  width: 44px;
}

.user-navigation-list {
  padding: 0;
  margin: 0;
}

.user-navigation-link-search {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  height: 64px;
  width: 44px;
  display: block;
  padding: 0;
}

.user-navigation-link-like {
  background-image: url("../images/heart.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  height: 64px;
  width: 44px;
  display: block;
  padding: 0;
  position: relative;
}

.user-navigation-link-like-count {
  position: absolute;
  top: 15px;
  left: 26px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  font-family: 'PT Sans';
  display: block;
  background-color: #7DB54F;
  border-radius: 100%;
  color: white;
  max-width: 20px;
  max-height: 20px;
  text-decoration: none;
  padding: 2px;
}

.navigation-item-active {
  border-bottom: 2px solid #756257;
}

.navigation-list {
  margin-bottom: 0;
  padding: 0;
}

/* Main */

.main-page {
  flex-grow: 1;
}

.hero-section {
  background-image: url("../images/vector.svg"), url("../images/index-background.jpg");
  background-color: #688fa9;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  min-height: 485px;
  padding: 51px 0 82px;
}

.hero-section-img {
  display: block;
  margin: 0 auto;
}

.sedona-description {
  text-align: center;
  padding: 69px 270px 30px;
  margin-bottom: 21px;
}

.sedona-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.sedona-description-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding-bottom: 90px;
}

.navigation-item {
  display: inline-block;
}

.color-description {
  color: #333333;
}

.advantages-title {
  max-width: 400px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 30px;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -2px;
  left: 170px;
}

.blue .advantages-title::after {
  background-color: rgb(255, 255, 255);
}

.advantage-image {
  margin: 0;
  text-align: center;
  width: 800px;
  min-height: 385px;
  display: inline-block;
  object-fit: cover;
  background-color: #82b3d3;
}

.advantage-image:last-child {
  padding: 0 0 0 400px;
}

.advantages-small-blue {
  background-color: rgb(130, 179, 211);
  color: white;
  width: 100%;
  max-height: 385px;
  position: relative;
}

.advantages-small-blue .advantages_item {
  width: 393px;
}

.item-light-blue {
  background-color: #83B3D31F
}

.item-blue {
  background-color: #83B3D333
}

.sedona-advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
  width: 510px;
}

.sedona-advantages2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}


.advantages_list {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  width: 1200px;
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.advantages_item {
  text-align: center;
  width: 400px;
  margin: 0;
  min-height: 385px;
  display: inline-block;
  position: absolute;
  top: 90px;
}

.advantages-small {
  max-height: 385px;
  height: 385px;
  width: 400px;
  list-style-type: none;
  position: relative;
}

.advantages-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  max-width: 400px;
}

.service-title-all {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 60px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-item {
  list-style-type: none;
  display: block;
  height: 235px;
  padding: 75px;
}

.service-item-descripton {
  width: 230px;
  margin: 130px auto 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.service-item-icon-home {
  background-image: url("../images/home-icon.png");
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-size: contain;
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.service-item-icon-food {
  background-image: url("../images/food-icon.png");
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-size: contain;
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.service-item-icon-present {
  background-image: url("../images/present-icon.png");
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-size: contain;
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.service-title {
  margin: 30px auto -100px;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}


.service-title-food {
  display: block;
  width: 75px;
  height: 60%;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: -100px;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  background-image: url("../images/food-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 25%;
}


.service-title-present {
  background-image: url("../images/present-icon.png");
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-size: contain;
  display: block;
  width: 75px;
  margin: 0 auto;
  margin-bottom: -100px;
  height: 60%;
  margin-top: 110px;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.call-to-action {
  margin-top: 60px;
}

.question-about-city {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.question-about-city-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: #333333;
  text-align: center;
}

.button-search-hotel {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 60px auto;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-subscription-index {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #3b6689;
  background-image: url("../images/subscribe.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 96px 256px 104px;
}

.subscription-description {
  width: 475px;
  height: 52.51px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.email-field {
  margin: 0;
  padding: 14px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #616161;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

.subscribe {
  font-family: inherit;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  padding: 8px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  width: 232px;
}

.main-footer {
  align-items: center;
  width: 100%;
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contacts-block {
  width: 1060px;
  height: 50px;
  padding: 35px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  display: none;
  opacity: 0;
  z-index: -2;
  max-height: 0;
  max-width: 0;
  position: absolute;
}

.footer-social-list {
  display: flex;
  min-height: 40px;
  width: 180px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social-item {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  max-width: 340px;
  min-height: 40px;
  display: inline-block;
  flex-wrap: wrap;
  gap: 10px;
}

.contacts-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-logo {
  max-width: 150px;
  min-height: 33px;
}

/* Catalog */

.main-inner {
  background-color: #ffffff;
  min-height: 412px;
}

.inner-header {
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.inner-header-filter {
  height: 307px;
  width: 1060px;
  padding: 35px 70px 70px;

}

fieldset {
  border: 0;
}

.range-block {
  padding-top: 30px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: -1px;
  top: -8px;
}

.range-toggle:not(:disabled):active {
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.range-toggle:disabled {
  opacity: 20%;
}

.range-wrapper-inputs {
  margin-bottom: 44px;
  display: flex;
  gap: 2px;
}

.inner-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  height: 78px;
  line-height: 78px;
  display: inline;
}

.breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 21px;
}

.breadcrumbs-item-home {
  display: inline-block;
  height: 21px;
}

.breadcrumbs-item-catalog {
  display: inline-block;
  margin: 0 0 0 25px;
  height: 21px;
  cursor: pointer;
  text-decoration: none;
}

.breadcrumbs-link-home {
  background-image: url("../images/home-vector.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  display: block;
  padding: 8px 0;
  position: relative;
}

.breadcrumbs-link-home::after {
  content: ">";
  color: white;
  position: absolute;
  left: 25px;
  font-size: 20px;
  top: 6px;
}

.breadcrumbs-link-home:hover,
.breadcrumbs-link-home:focus {}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-link:disabled {
  opacity: 10%;
}


.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.catalog-products {
  padding: 70px;
}

.catalog-filter {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 50px;
}

.catalog-filter-group {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.control-input-list {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + span,
input[type="checkbox"]:not(:checked) + span,
input[type="radio"]:checked + span,
input[type="radio"]:not(:checked) + span {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + span:before,
input[type="checkbox"]:not(:checked) + span:before,
input[type="radio"]:checked + span:before,
input[type="radio"]:not(:checked) + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + span:before,
input[type="checkbox"]:not(:checked) + span:before {
  border-radius: 4px;
}

input[type="radio"]:checked + span:before,
input[type="radio"]:not(:checked) + span:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + span:after,
input[type="checkbox"]:not(:checked) + span:after,
input[type="radio"]:checked + span:after,
input[type="radio"]:not(:checked) + span:after {
  content: "";
  position: absolute;
}

input[type="checkbox"]:checked + span:after,
input[type="checkbox"]:not(:checked) + span:after {
  left: 4px;
  top: 5px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 2px solid #3F5E72;
  border-bottom: 2px solid #3F5E72;
  transform: rotate(-45deg);
}

input[type="radio"]:checked + span:after,
input[type="radio"]:not(:checked) + span:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #3F5E72;
}

input[type="checkbox"]:not(:checked) + span:after,
input[type="radio"]:not(:checked) + span:after {
  opacity: 0;
}

input[type="checkbox"]:checked + span:after,
input[type="radio"]:checked + span:after {
  opacity: 1;
}

.catalog-filter-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  display: inline-block;
  height: 20px;
}

.catalog-filter-list {
  border: none;
  padding: 32px 0 0 0;
  margin: 0;
  width: 180px;
  margin-bottom: 50px;
}


.catalog-filter-label {
  position: relative;
}

.control-input {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  margin: 0;
  width: 111px;
  height: 48px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: 0 solid #dddddd;
}

.catalog-filter-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding: 32px 0 0 0;
  line-height: 24px;
  text-transform: capitalize;

}

.control-price {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.catalog-filter-price-block {
  padding-top: 32px;
}

.catalog-filter-price-text {
  position: absolute;
  top: 13px;
  right: 12px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-button {
  margin-top: 88px;
  height: 104px;
  width: 191px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog-filter-button-submit {
  background-color: #82B3D3;
  border: 0 solid #82B3D3;
  border-radius: 4px;
  color: white;
  width: 191px;
  display: block;
  cursor: pointer;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-button-reset {
  cursor: pointer;
  margin-top: 32px;
  width: 191px;
  display: block;
  background-color: transparent;
  border: 0 solid white;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.catalog-sort {
  padding: 0 0 32px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
}

.select-control {
  height: 49px;
  width: 292px;
  padding: 0 0 0 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  position: relative;
}

.select-control-down {
  width: 0;
  height: 0;
  z-index: 1;
  cursor: pointer;
  position: relative;
}

.select-control-block {
  display: flex;
  flex-wrap: wrap;
}

.select-control-down::after {
  content: ">";
  padding: 0 8px;
  font-size: 24px;
  position: absolute;
  right: 11px;
  top: 15px;
  transform: rotate(90deg);
}

.catalog-sort-view-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.catalog-sort-view-item {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-sort-view-item.button-select {
  border: 2px solid black;
}


.catalog-sort-view-button-card {
  background-image: url("../images/card1-icon.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  display: block;
  padding: 8px 0;
}

.catalog-sort-view-button-card2 {
  background-image: url("../images/card2-icon.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  display: block;
  padding: 8px 0;
}

.catalog-sort-view-button-list {
  background-image: url("../images/list-icon.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  display: block;
  padding: 8px 0;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-item {
  width: 340px;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr;
  gap: 16px 20px;
}

.product-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  display: block;
  grid-column: 1 / -1;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  display: block;
}

.product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card {
  padding: 20px;
  border: 1px solid #eee
}

.product-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.product-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-card-button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  background-color: #756157;
  color: white;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  height: 36px;
  width: 140px;
  border: none;
}

.product-card-button-button2 {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  background-color: #82B3D3;
  color: white;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  float: right;
  height: 36px;
  width: 140px;
  border: none;
}

.product-card-raiting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}


.product-card-button-button3 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  float: right;
  height: 36px;
  width: 140px;
  border: none;
}

.product-card-button-button2-active {
  background-color: #7DB54F;
}

.product-card-image {
  min-width: 100%;
}

hr {
  border: 1px;
  background-color: #E6E6E6;
  height: 1px;
  width: 1060px;
}

.pagination-block {
  margin-bottom: 61px;
  padding: 70px;
}

.product-card-descrription p {
  display: inline-block;
  margin: 0;
}

.product-card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.product-card-price {
  float: right;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  min-width: 60px;
  text-align: center;
}

.pagination-link {
  text-decoration: none;
  background: #82b3d3;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  display: block;
  padding: 12px 10px;
}

.pagination-link-pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;

  text-align: center;

}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-other {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;
  min-width: 60px;
  text-align: center;
}

.pagination-link-other:hover,
.pagination-link-other:focus {
  background-color: #f2f2f2;
}

.pagination-link-other:active {
  color: #000000;
  background-color: #e6e6e6;
}
