/* Файл styles/styles.css */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  margin: 0;
  background-color: #ffffff;
}

.page-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Header */
.header {
  width: 1060px;
  margin: 0 auto;
  min-height: 64px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 0;
  top: 0;
}


.header a,
.header .navigation,
.header .user-navigation,
.header .navigation-item,
.header .navigation-item-active,
.header .user-navigation-item,
.header .user-navigation-button {
  display: inline-block;
}

.header .navigation-link {
  color: black;
  text-decoration: none;
}

.header nav {
  padding-left: 180px;
  max-height: 64px;
}

.header ul {
  margin: 0;
}

.navigation-item-button {
  width: 160px;
  height: 36px;
  background-color: #756157;
  border-radius: 4px;
  display: inline-block;
}

.navigation-item-button a {
  color: white;
  font-family: 'PT Sans';
  line-height: 20px;
  font-size: 16px;
  align-items: center;
  margin: auto;
  padding: 8px 34px;
  text-decoration: none;
}

.navigation a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: 'PT Sans';
  padding: 20px 16px;
}

.user-navigation-link-like-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  font-family: 'PT Sans';
  display: block;
  background-color: #7DB54F;
  border-radius: 100%;
  color: white;
  max-width: 20px;
  max-height: 20px;
  padding: 20px 16px;
  text-decoration: none;
}

.navigation-item-active {
  border-bottom: 2px solid #756257;
}

.navigation-list {
  margin-bottom: 0;
}

/* Main */

.main-page {
  flex-grow: 1;
}

.hero-section {
  background-image: url("../images/vector.svg"), url("../images/index-background.jpg");
  background-color: #688fa9;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  min-height: 485px;
  padding: 51px 0 82px;
}

.hero-section-img {
  display: block;
  margin: 0 auto;
}

.sedona-description {
  text-align: center;
  padding: 69px 270px 30px;
  margin-bottom: 21px;
}

.sedona-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.sedona-description-advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding-bottom: 90px;
}

.navigation-item {
  display: inline-block;
}

.color-description {
  color: #333333;
}

.advantages-title {
  max-width: 400px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 30px;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -2px;
  left: 190px;
}

.blue .advantages-title::after {
  background-color: rgb(255, 255, 255);
}

.advantage-image {
  width: 100%;
  max-height: 385px;
}

.advantage-picture-text .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.blue {
  background-color: rgb(130, 179, 211);
  color: white;
}



.sedona-advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
  width: 510px;
}

.sedona-advantages2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}


.advantages_list {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.advantages_item {
  text-align: center;
  width: 33vw;
  margin: 100px 0 0;
  min-height: 385px;
  display: inline-block;
}

.advantages-small {
  height: 385px;
  width: 32vw;
  list-style-type: none;
}

.advantages-big {
  width: 65vw;
  align-self: auto;
  align-items: flex-start;
  list-style-type: none;
}

.advantages-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  max-width: 400px;
}

.service-title-all {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-item {
  list-style-type: none;
  height: 385px;
}

.service-item-descripton {
  width: 320px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.service-title {
  background-image: url("../images/home-icon.png");
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-size: contain;
  display: block;
  width: 75px;
  height: 60%;
  margin: 0 auto;
  margin-bottom: -100px;
  text-align: center;
  margin-top: 110px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.service-title-food {
  display: block;
  width: 75px;
  height: 60%;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: -100px;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  background-image: url("../images/food-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 25%;
}


.service-title-present {
  background-image: url("../images/present-icon.png");
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-size: contain;
  display: block;
  width: 75px;
  margin: 0 auto;
  margin-bottom: -100px;
  height: 60%;
  margin-top: 110px;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.question-about-city {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.question-about-city-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: #333333;
  text-align: center;
}

.button-search-hotel {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 60px auto;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-subscription-index {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #3b6689;
  background-image: url("../images/subscribe.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 96px 256px 104px;
}

.subscription-description {
  width: 475px;
  height: 52.51px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.email-field {
  margin: 0;
  padding: 14px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #616161;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

.subscribe {
  font-family: inherit;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  padding: 8px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  width: 232px;
}

.main-footer {
  align-items: center;
  width: 100%;
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visually-hidden {
  display: none;
  opacity: 0;
  z-index: -2;
  max-height: 0;
  max-width: 0;
  position: absolute;
}

.footer-social-list {
  display: flex;
  min-height: 40px;
  width: 180px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social-item {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  max-width: 340px;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contacts-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-logo {
  max-width: 150px;
  min-height: 33px;
}

/* Catalog */

.main-inner {
  background-color: #ffffff;
  min-height: 412px;
  padding: 34px 0;
}

.inner-header {
  margin-bottom: 40px;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

fieldset {
  border: 0;
}

.inner-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 30px 0 0;
  margin: -34px 0 0 50px;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  display: inline-block;
  padding-right: 10px;
  margin: 0 20px;
  height: 21px;
}

.breadcrumbs-link-home{
  background-image: url("../images/home-vector.svg");
  width: 20px;
  height: 15px;
  margin: 0 0 0 20px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;

  display: block;
  padding: 11px 6px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-link:disabled {
  opacity: 10%;
}


.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.catalog-products {
  padding: 70px;
}

.catalog-filter-group {
  display: inline-block;
}

.catalog-filter-item {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-list {
  border: none;
  padding: 0;
  margin: 0;
  width: 151px;
  margin-right: 69px;
  margin-bottom: 50px;
}

.catalog-filter-list:nth-child(2) {
  margin-right: 140px;
}

.catalog-filter-label {
  position: relative;
}

.control-input {
  position: relative;
  display: block;
  padding-left: 37px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-item {
  width: 340px;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr;
  gap: 16px 20px;
}

.product-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  display: block;
  grid-column: 1 / -1;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  display: block;
}

.product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card {
  padding: 10px;
  border: 1px solid #eee
}

.product-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.product-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-card-button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  background-color: #756157;
  color: white;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  height: 36px;
  width: 140px;
}

.product-card-button-button2 {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  background-color: #82B3D3;
  color: white;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  float: right;
  height: 36px;
  width: 140px;
}

.product-card-button-button2-active{
  background-color: #7DB54F;
}

.product-card-image {
  min-width: 100%;
}

.product-card-button-button3 {}

.pagination-block {
  margin-bottom: 61px;
  padding: 70px;
}

.product-card-descrription p {
  display: inline-block;
  margin: 0;
  padding-bottom: 10px;
}

.product-card-price {
  float: right;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  min-width: 60px;
  text-align: center;
}

.pagination-link {
  text-decoration: none;
  background: #82b3d3;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  display: block;
  padding: 12px 10px;
}

.pagination-link pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;
  min-width: 60px;
  text-align: center;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-other {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 10px;
  min-width: 60px;
  text-align: center;
}

.pagination-link-other:hover,
.pagination-link-other:focus {
  background-color: #f2f2f2;
}

.pagination-link-other:active {
  color: #000000;
  background-color: #e6e6e6;
}
